<h1>Signup!</h1>

<%= form_for :user, url: '/users' do |f| %>
	<div class="form-group">
  		<%= label :email %>	
   		<%= f.text_field :email, class: "form-control"%>
   	 </div>
  		Password: <%= f.password_field :password %>
  Password Confirmation: <%= f.password_field :password_confirmation %>
  <%= f.submit "Submit" %>

<% end %>


  
 
