<h3 class="text-center">New User Form</h3>
<%= form_for :user, url: '/users' do |f| %>
	<p>Email: * <%= f.text_field :email, class: 'form-control', placeholder: 'example@mail.com' %></p>
	<p>Name: <%= f.text_field :name, class: 'form-control' %></p>
	<p>Password: * <%= f.password_field :password, class: 'form-control' %></p>
	<%= f.submit "Submit", class: 'form-control btn btn-danger' %>
	<% end %>
	<p>* Denotes required fields</p>
