<h1>User Profile</h1>
<hr>
<p><strong>Username:</strong> <%= @user.name %></p>
<p><strong>Email:</strong> <%= @user.email %></p>
<% if current_user %>
	<%= link_to "All Users", users_path, method: :get %> | 
	<%= link_to "All Posts", posts_path, class: "link" %> | 
	<%= link_to "Edit", edit_user_path(@user) %> | 
	<%= link_to "Delete", user_path(@user), method: :delete %>
<% else %>
	<%= link_to "All Users", users_path, method: :get, class: "link" %> | <%= link_to "All Posts", posts_path, class: "link" %>
<% end %>