<!DOCTYPE html>
<html>
<head>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- bootstrap css -->
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- application stylesheet -->
  <%= stylesheet_link_tag :application, media: :all %>

  <title>RailsBlogApp</title>
</head>
<body>
  <% flash.each do |msg| %>
  <div class="col-md-12 alert alert-danger text-center">
    <%= msg %>
  </div>
  <% end %>
  <div class="container">
    <% if current_user %>
      Signed in as <%= current_user.name %> | <%= link_to "Home", '/' %> | <%= link_to "Logout", '/logout' %> 
    <% else %>
      <div class="pull-right">
        <%= link_to "Login", '/login' %> | <%= link_to "Signup", '/signup' %>
      </div> 
    <% end %>
    <%= yield %>
  </div>
  <!-- application javascript file -->
  <%= javascript_include_tag :application %>

  <!-- bootstrap js -->
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>
